<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit task
    </h1>

    <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Type the task name">
    <br><br>
    <input #taskDateInput class="input has-background-light is-medium" type="date">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-small" (click)="cancelClick()">Cancel</button>
      <button class="button is-black has-text-white is-small" (click)="updateTask(taskTitleInput.value, taskDateInput.value)">Save</button>
    </div>
  </div>
</div>

